.box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.nav-link {
    font-size: 20px !important;
    font-weight: bold !important;
}

.container{
    margin-left: 30px;
    margin-right: 30px !important;
    min-width: 96%;

}

.logo{
    display:flex;
    align-items: center;
    justify-content: center;
}
.logo h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
}

a.active{
    color: white !important;
}
.cart{
    display: flex;
    margin-left: 100px;
}


   
   svg {
    width: 20px;
    height: 20px;
   }
   

